body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    /* Center-align all text in the body */
}

.contact-form {
    margin-top: 40px;
    padding: 20px;
    background-color: #f3f4f6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.contact-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

header {
    background: lightslategray;
    color: #ffffff;
    padding: 30px 0;
}

h1 {
    margin: 0;
    font-size: 3em;
    transition: color 0.3s;
}

h1:hover {
    color: black;
}

h2 {
    font-size: 2em;
    margin: 15px 0;
    transition: color 0.3s;
}

h2:hover {
    color: black;
}

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background: #ffffff;
    margin: 25px 0;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100%;
}

section:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

h3 {
    font-size: 1.8em;
    margin: 15px 0;
    transition: color 0.3s;
}

h3:hover {
    color: #35424a;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
    transition: color 0.3s;
}

p:hover {
    color: #35424a;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}